.reply {
    padding: 20px 0px 0px 20px;
}

.reply h3 {
    padding: 0px 5px 0px 10px;
    font-size: 1.1rem;
    max-width: 50%;
    word-break: break-all;
}

.author {
    display: flex;
    align-items: center;
    width: 100%;
}

.avatar {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 10px;
}

.author span {
    opacity: 0.5;
    padding-left: 10px;
}