.post {
    color: white;
    margin: 50px 0px;
    border: 2px solid black;
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post h4 {
    opacity: 0.8;
}

.author {
    display: flex;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

.author h3 {
    margin-right: 10px;
}

.author span {
    opacity: 0.7
}

.post h1 {
    padding: 20px 0px 0px 00px;
    font-size: 1.75rem;
}

.description {
    margin: 30px 0px;
    word-break: break-word;
}

.container {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    aspect-ratio: auto;
}

.container img {
    border-radius: 10px;
    max-width: 80%;
    object-fit: contain;
    max-height: 600px;
}

.video {
    max-width: 80%;
    max-height: 600px;
    border-radius: 10px;
    object-fit: contain;
}

.commentsUps {
    display: flex;
    justify-content: start;
    padding-top: 10px;
}

.ups {
    font-size: 1.2rem;
    border-radius: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

.commentsButton {
    border: 2px solid black;
    width: 100px;
    border-radius: 15px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    font-size: 1rem;
    background-color: #353535;
}

.commentsButton img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
    filter: invert(1)
}

@media (hover: hover) {
    .commentsButton:hover {
        cursor: pointer;
        background-color: #4e4e4e;
        outline: 1px solid black;
        transition: background-color .1s;
    }
}

.commentsButton:active {
    background-color: #454545;
    outline: none;
}

.loadingGifContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0px;
}

.loadingGIF {
    width: 100px;
    height: 100px;
}

.comments {
    padding-top: 20px;
}

.comments h3 {
    padding: 10px 0px;
}

@media only screen and (max-width: 1200px) {
    .post img {
        max-width: 90%;
    }

    .video {
        max-width: 90%;
    }
}

@media only screen and (max-width: 1100px) {
    .post img {
        max-width: 100%;
    }

    .video {
        max-width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .post {
        padding: 30px 10px;
    }

    .post h1 {
        font-size: 1.5rem;
    }
}