.postsList {
    color: white;
    padding-top: 100px;
    padding-left: 20%;
    position: relative;
}

.loadingGifContainer {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 50px 0px;
}

.loadingGIF {
    width: 250px;
    height: 250px;
}